.pre_ingreso{
	.sidebar-bars{
		top:-3px;
		i{
			color: white;	
		}
	}
	.send-button{
		width: 30%;
		height: 30%;
		margin: 2%;
		margin-left: 35%;
	}
	.style-input-left{
		width: 40%;
		margin-left: 5%;
		float: left;
	}
	.style-input-right{
		width: 40%;
		margin-left: 5%;
		float: right;
	}
	.style-input-div{
		width: 95%;
	}
	
	.style-font{
		width: 55%;
		font-family: 'MuseoSans-300';
		font-size: 35px;
		color: grey;
		margin-left: 37.8%;
		margin-top: 30px;
	}

	//.style-textarea{
//		rows: 4;
//		columns: 50;
//	}

}