<div class="pre_ingreso">
	<link rel="stylesheet" type="text/css" href="./dist/routes/pre_ingreso/pre_ingreso.css" >
	<div>
		<section layout="column">
			<md-content flex="1">
			<div class="style-font">
				<span>Pre Ingreso</span>
			</div>
			</md-content>
			<md-content flex="2">
			
			<form name="userForm">
				<div class="style-input-div" layout-padding>
					<div class="style-input-left">
						<md-input-container>
						<md-icon ><i class="style-input material-icons">person_pin</i></md-icon>
						<input ng-model="pre_ingreso.user.circulante" type="text" placeholder="Circulante DNI" autocomplete="off">
						<md-button><md-icon><i class="style-input material-icons">person_add</i></md-icon></md-button>
						</md-input-container>
						
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">person_pin</i></md-icon>
						<input ng-model="pre_ingreso.user.instrumentista" type="text" placeholder="Instrumentista DNI" autocomplete="off">
						<md-button><md-icon><i class="style-input material-icons">person_add</i></md-icon></md-button>
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">person_pin</i></md-icon>
						<input ng-model="pre_ingreso.user.paciente" type="text" placeholder="Paciente DNI" autocomplete="off">
						<md-button><md-icon><i class="style-input material-icons">chevron_right</i></md-icon></md-button>
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">assignment</i></md-icon>
						<input ng-model="pre_ingreso.user.paciente.nombre" type="text" placeholder="Nombre y Apellido" autocomplete="off">
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">assignment</i></md-icon>
						<input ng-model="pre_ingreso.user.paciente.edad" type="text" placeholder="Edad" autocomplete="off">
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">assignment</i></md-icon>
						<input ng-model="pre_ingreso.user.paciente.domicilio" type="text" placeholder="Domicilio" autocomplete="off">
						</md-input-container>
					</div>
					<div class="style-input-right">
						<md-input-container>
						<md-icon ><i class="material-icons">date_range</i></md-icon>
						<input ng-model="pre_ingreso.user.date" type="text" placeholder="Fecha" value="22-03-2016" />
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">watch</i></md-icon>
						<input ng-model="pre_ingreso.user.date.hora" type="text" readonly placeholder="Hora de Ingreso" value="14:34">
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">add_location</i></md-icon>
						<input ng-model="pre_ingreso.user.date" type="text" placeholder="Sala" value="22-03-2016" />
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">star</i></md-icon>
						<input ng-model="pre_ingreso.user.date" type="text" placeholder="Historia Clínica"/>
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">date_range</i></md-icon>
						<input ng-model="pre_ingreso.user.date" type="text" placeholder="Fecha de Ingreso" value="22-03-2016">
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">security</i></md-icon>
						<input ng-model="pre_ingreso.user.date" type="text" placeholder="Obra Social">
						</md-input-container>
						<br>
						<md-input-container>
						<md-icon ><i class="material-icons">assignment</i></md-icon>
						<input ng-model="pre_ingreso.user.test" type="textarea" placeholder="Diagnóstico">
						<md-button flex-sm><md-icon><i class="material-icons">keyboard_voice</i></md-icon></md-button>
						</md-input-container>
					</div>
				</div>
			</form>
			</md-content>
			<div>
				<sm-input-container class="md-block" flex-md>
				<div class="style-font">
					<input type="checkbox">
					<span>Texto</span>
				</div>
				<br>
				<md-button class="md-raised md-primary send-button" ng-click="pre_ingreso.send()"><h1> Intervención </h1></md-button>
				<md-button class="md-raised md-primary send-button" ng-click="pre_ingreso.send()"><h1> Volver </h1></md-button>
				</sm-input-container>
			</div>
		</section>
	</div>
</div>